
.counterNumbers{
    color:white;
    background-color: black;
    height: 120px;
}

.counter{
    margin: 10px;
    width: 70px;
    background-color: rgb(27, 24, 24);
    font-size: 50px;
    border-radius: 10px;
    text-align: center; 
}